{% extends 'diary/base.html' %}
{% block title %}
    <title>Our Mood Diary</title>
{% endblock %}
{% block main_area %}
    <h1> Our Mood Diary</h1>
    <div>
        <p>Our Mood Diary는 오늘 하루 느낀 감정을 카테고리로 분류해 일기를 작성할 수 있는 웹사이트 입니다 ! </p>
        바쁘게 지나가는 일상 속에서 나만의 일기장을 작성 해보는 것은 어떨까요? <br>
        이 날은 왜 기뻤을까? 이 날은 왜 슬펐을까? <br> 카테고리 별로 분류하여 작성할 수 있는 일기장을 통해
        나에 일상에 대해 기록해보아요 !
    </div>
    <div>
        <p>사용 방법</p>
        사용자는 로그인을 해야 합니다 ! 회원가입을 통해 로그인을 한 후 Mood Diary 탭을 클릭하여 글을 작성 할 수 있습니다!
        (날짜별로 글 분류 )
    </div>
{% endblock %}