<!DOCTYPE html>
<html>
{% load static %}
{% load crispy_forms_tags %}
<head>
    <title>Create post-diary</title>

        <link rel="stylesheet" href="{% static 'diary/bootstrap/bootstrap.min.css' %}" media="screen">
<!-- Custom styles for this template -->
        <link rel="stylesheet" href="{% static 'diary/css/diary-post.css' %}" media="screen">

    <script src="https://kit.fontawesome.com/726bbd6862.js" crossorigin="anonymous"></script>
    <style>
        body{
            width: 100%;
            margin: 0 auto;

        }
        .main_pages{
            background-color: #fceded;
            text-align: center;
            margin-bottom: 300px;
        }
        h1{
            text-align: center;
        }
    </style>
</head>
<body>
    {% include 'diary/navbar.html' %}
      <div class="container my-3 ">

                <h1> Our Mood Diary</h1>
            <section class="main_pages">
                <div>
                <p>Our Mood Diary는 오늘 하루 느낀 감정을 카테고리로 분류해 일기를 작성할 수 있는 웹사이트 입니다 ! </p>
                바쁘게 지나가는 일상 속에서 나만의 일기장을 작성 해보는 것은 어떨까요? <br>
                이 날은 왜 기뻤을까? 이 날은 왜 슬펐을까? <br> 카테고리 별로 분류하여 작성할 수 있는 일기장을 통해
                나에 일상에 대해 기록해보아요 !
                </div>
                <div>
                <p>사용 방법</p>
                사용자는 로그인을 해야 합니다 ! 회원가입을 통해 로그인을 한 후 Mood Diary 탭을 클릭하여 글을 작성 할 수 있습니다!
                (날짜별로 글 분류 )

                </div>
            </section>
       
      </div>
{% include 'diary/footer.html' %}
</body>
</html>



