<html lang="ko">
<head>
    {% load static %}
    <meta charset="UTF-8">

    <title>Create post-diary</title>

        <link rel="stylesheet" href="{% static 'diary/bootstrap/bootstrap.min.css' %}" media="screen">
<!-- Custom styles for this template -->
        <link rel="stylesheet" href="{% static 'diary/css/diary-post.css' %}" media="screen">


<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">-->
<!--    &lt;!&ndash; 부가적인 테마 &ndash;&gt;-->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">-->
<!--    &lt;!&ndash; 합쳐지고 최소화된 최신 자바스크립트 &ndash;&gt;-->
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>-->

    <style>
        .content{
            height: 100%;
        }
        .messageDiv{
            margin-top: 30px;
            margin-bottom: 50px;
        }
        .toDoDiv{
            width: 100%;

        }
        .custom-btn{
            font-size: 15px;
        }

    </style>

    <title>To-Do</title>
</head>
<body>
    <div class="container">

         {% include 'diary/navbar.html' %}
        <div class="content">
            <div class="messageDiv">
                <form action="./createTodo/" method="POST">{% csrf_token %}
                    <div class="input-group">
                        <input id="todoContent" name="todoContent" type="text" class="form-control" placeholder="메모 할 내용을 추가해주세요!">
                        <span class="input-group-btn">
                            <button class="btn btn-danger" type="submit">추가하기!</button>
                        </span>
                    </div>
                </form>
            </div>

             <div class="toDoDiv">

                    <ul class="list-group ">
                    {% for todo in todos %}
                        {% if todo.isDone == False %}
                            <form action="./doneTodo/" method="GET">
                              <div class="input-group " name='todo1'>
                                    <li class="list-group-item" style=width:92%;" >{{todo.content}}</li>
                                    <input type="hidden" id="todoNum" name="todoNum" value="{{todo.id}}"></input>
                                    <span class="input-group-addon">
                                        <button type="submit" class="custom-btn btn btn-danger">완료</button>
                                    </span>
                                </div>
                            </form>
                        {% else %}
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>

        </div>
        {% include 'diary/footer.html' %}
    </div>

</body>
</html>
